<footer class="mx-auto max-w-[70ch] px-8 pb-8 text-center">
	<p class="text-on-surface-variant">
		by
		<a
			target="_blank"
			rel="noopener noreferrer"
			class="text-primary underline decoration-primary/30 decoration-wavy underline-offset-2 hover:decoration-primary"
			href="https://www.github.com/ceopaludetto"
		>
			Carlos Paludetto
		</a>
	</p>
</footer>
