---
import { Content } from "~/data/back.mdx";
import Base from "~/layouts/base.astro";
import Post from "~/layouts/post.astro";
---

<Base title="ceo — Not Found" color="#0ea5e9">
	<Post>
		<h1 class="mb-1">404</h1>
		<p class="text-on-surface-variant mt-0 mb-8">This page doesn't exist (yet?)</p>
		<p>Hope you'll find what you're looking for. Or just execute the following code:</p>
		<Content />
	</Post>
</Base>
